
/****** DEFAULT ************/
* {
    color: #ffee06;
    background: #16160e;
    font: 10pt DejaVuSans }

/****** BUTTONS ************/
QPushButton {
    color: #ffee06;
    background: #16160e;
    border: 1px solid #ffee06;
    border-radius: 4px;
}

/****** SLIDER ************/
QSlider::groove:horizontal {
    background: gray;
    border-radius: 4px;
    height: 20px }

QSlider::handle:horizontal {
    background: #ffee06;
    border: 0px solid #ffee06;
    border-radius: 4px;
    width: 24px }

QSlider::handle:horizontal:disabled {
    background: #16160e }

QSlider::add-page:horizontal {
    background: #36362e;
    border: 1px solid #36362e;
    border-radius: 4px }

QSlider::sub-page:horizontal {
    background: #36362e;
    border: 1px solid #36362e;
    border-radius: 4px }

Line {
    color: red;
    background: red }

QCheckBox {
    spacing: 20px }

QCheckBox::indicator {
    border: 1px solid #ffee06;
    border-radius: 4px;
    width: 20px;
    height: 20px }

QCheckBox::indicator:pressed {
    background: #ffee06 }

QCheckBox::indicator:checked {
    background: #ffee06 }

QCheckBox::indicator:checked:pressed {
    background: #16160e }
